<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/saveTeacher}" th:object="${teacherupdate}"
      method="POST">
    <input type="hidden" th:field="*{id}" >
    <input type="text" th:field="*{name}" >
    <br> <input type="text" th:field="*{email}" ><br>
    <button type=submit>Save Employee</button>
</form>
</body>
</html>