@charset "ISO-8859-1";

html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: space-between;
	background-color: cadetblue;
}

.logo {
	margin: 10px 50px;
}

h3 {
	color: red;
}

ul {
	display: flex;
}

li {
	list-style-type: none;
	margin: 10px 50px;
}

.container a {
	text-decoration: none;
	/* padding:10px; */
	/* margin: 5px 5px; */
	/* background: green; */
	color: white;
	border: none;
	/* border-radius: 8px; */
}
/* a:hover{
    background-color: rgb(1, 101, 1);
} */
.Hero-container {
	display: flex;
	margin:20px 70px;
}
.side-menu{
	width:200px ;
	
}
.menu-opt{
	margin-bottom:5px;
}

.content {
	display: block;
	margin-left:40px;
	border:1px;
	background-color:coral;
	margin-bottom:8px;
	border-radius:5px;
	padding:10px;
}