<!DOCTYPE html >
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">

    <a th:href="@{/addnew}">Add Employee</a>
    <h1>Employee List</h1>
    <table border=1>
        <thead>
        <tr>
            <th>rHospitalName</th>
            <th>rHospitalDivision</th>
            <th>rHospitalUpozila</th>
            <th>rHospitalDistrict</th>
            <th>rHospitalReportName</th>
            <th>rHospitalSpeech</th>
            <th>rHospitalLogo1</th>
<!--            <th>rHospitalLogo2</th>-->
<!--            <th>rHospitalLogo3</th>-->
<!--            <th>rHospitalLogo4</th>-->
<!--            <th>rHospitalLogo5</th>-->
<!--            <th>rHospitalLogo6</th>-->
<!--            <th>rHospitalLogo7</th>-->
<!--            <th>rHospitalLogo8</th>-->
            <th>rHospitalPhone1</th>
            <th>rHospitalPhone2</th>
            <th>rHospitalEmail</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each ="report : ${listOfReportInfo}">
            <td th:text="${report.rHospitalName}"></td>
            <td th:text="${report.rHospitalDivision}"></td>
            <td th:text="${report.rHospitalUpozila}"></td>
            <td th:text="${report.rHospitalDistrict}"></td>
            <td th:text="${report.rHospitalReportName}"></td>
            <td th:text="${report.rHospitalSpeech}"></td>
            <td> <img alt="sds" th:src="@{'img/'+${report.rHospitalLogo1}}" width="100%" height="100px"></td>
<!--            <td th:text="${report.rHospitalLogo2}"></td>-->
<!--            <td th:text="${report.rHospitalLogo3}"></td>-->
<!--            <td th:text="${report.rHospitalLogo4}"></td>-->
<!--            <td th:text="${report.rHospitalLogo5}"></td>-->
<!--            <td th:text="${report.rHospitalLogo6}"></td>-->
<!--            <td th:text="${report.rHospitalLogo7}"></td>-->
<!--            <td th:text="${report.rHospitalLogo8}"></td>-->
            <td th:text="${report.rHospitalPhone1}"></td>
            <td th:text="${report.rHospitalPhone2}"></td>
            <td th:text="${report.rHospitalEmail}"></td>
            <td><a th:href="@{/updateReportInfo/{id}(id=${report.id})}">Update</a>
                <a th:href="@{/deleteReportInfo/{id}(id=${report.id})}">Delete</a></td>
<!--            <td><select class="form-select" name="refferedBy"-->
<!--                        id="refferedBy" style="height: 30px; font-size: 12px;">-->

<!--                <option th:each="refDr : ${listEmployees}" th:text="${refDr.lastName}">-->
<!--            </select></td>-->
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>