<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--th:action="@{/saveEmployee}" th:object="${employee}"-->
    <form th:action="@{/saveNewBooks}" method="POST" th:object="${newAdd}">
        <input type="text" th:field="*{bookName}"  placeholder="bookName" > <br>
        <input type="text" th:field="*{bookAuthor}" placeholder="bookAuthor" > <br>
        <input type="text" th:field="*{description}"  placeholder="description" > <br>
        <input type="text" th:field="*{quantity}" placeholder="quantity" ><br>
        <input type="text" th:field="*{price}"  placeholder="price" ><br>
        <button type="submit">Add</button>
    </form>
</body>
</html>