<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px">

    <tr>
        <th>id</th>
        <th>Name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
        <th>address street</th>
    </tr>
    <tr th:each="pat : ${listofAll}">
        <td th:text="${pat.id}"></td>
        <td th:text="${pat.name}"></td>
        <td th:text="${pat.username}"></td>
        <td th:text="${pat.email}"></td>
        <td th:text="${pat.phone}"></td>
        <td th:text="${pat.address.street}" ></td>
    </tr>

</table>
</body>
</html>